# Python
__pycache__/
*.py[cod]
*.sqlite3

# Django
db.sqlite3
*.log
*.pot
*.pyc
media/
static/
local_settings.py

# Environments
.env
.env.*
venv/
env/

# Editors
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store
