<!-- 
{% url 'myapp:store' %}            
{% url 'myapp:index' %}
{% url 'myapp:checkout' %}
{% url 'myapp:signup' %}
{% url 'myapp:login' %}
{% url 'myapp:blank' %}
{% url 'myapp:cart' %}
{% url 'myapp:product' %}
{% url 'myapp:account' %}
{% url 'myapp:contact' %}
{% url 'myapp:privacy' %}
{% url 'myapp:tandc' %}
{% url 'myapp:about' %}
{% url 'myapp:add_to_wishlist' item.id %}
{% url 'myapp:remove_from_wishlist' item.id %}
{% url 'myapp:remove_from_cart' item.id %}

{% include './footer.html' %}
{% include './header.html' %}

click to chat link- https://wa.me/918145379438



<div class="product-img">
<img src="{{ item.item_img.url }}" 
data-fallback="{% static 'img/alt_img.jpeg' %}" 
alt="item_img" 
onerror="handleImageError(this)">
</div>
}-->




<!-- even the spaces matter's -->


